.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.card__product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 25%
}