body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
}

.card__product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 20%;
    position: relative;
    height: 500px;
    justify-content: space-between;
}

.card__product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__button{
  height: 40px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.card__button:hover{
    background-color: #C70039;
    color: #fff;
}

.card__prices{
    display: flex;
    gap: 10px;
}

.content__modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.card__tallas{
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 15px 20px;
  background-color: #ffffff;
  position: relative;
}

.card__tallas span{
  width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #bababa;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  background: #fff;
  gap: 9px;
  cursor: pointer;
}

.card__tallas span:hover{
  border: 1px solid #C70039;
}

.close{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: -15%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
}

.close:hover{
  background: #d51920;
  color: #fff;
  border: 1px solid #d51920;
}

.button__disabled{
  cursor: auto;
  background-color: #000;
}

.gallery_content{
  display: flex;
  flex-flow: row wrap;
}