body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin: 10px 0;
}

.card__product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 15%;
    position: relative;
    justify-content: space-between;
    max-width: 1280px;
  @media screen and (max-width: 768px) {
    width: 44%;
  }
}

.card__product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__button{
  height: 40px;
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.card_button--add{
  background-color: #d51920;
}

.card__button:hover{
    background-color: #000;
    color: #fff;
}

.card__prices{
    display: flex;
    gap: 10px;
}

.content__modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}

.card__tallas{
  display: flex;
  gap: 2px;
  flex-flow: row wrap;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: #ffffff;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card__tallas span{
  width: 25px;
  height: 25px;
  border: 1px solid #bababa;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  background: #fff;
  gap: 9px;
  cursor: pointer;
}

.card__tallas span:hover{
  border: 1px solid #C70039;
}

.close{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: -15%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
}

.close:hover{
  background: #d51920;
  color: #fff;
  border: 1px solid #d51920;
}

.button__disabled{
  cursor: auto;
  background-color: #000;
}

.gallery_content{
  display: flex;
  flex-flow: row wrap;
}

/*CSS NAVBAR*/

.navbar{
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  
}
.nav__logo{
 width: 70px;
}

.navbar {
  background-color: #6A647F;
  color: #fff;
  padding: 10px;
  border-radius: 1px solid #6A647F;
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

.navbar ul :not(li:first-child){
  cursor: pointer;
  padding: 5px;
}

.nav__menu{
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li:hover{
  color: #000;
}

.nav__compras{
  display: flex;
  padding: 5px;
  height: max-content;
  flex-direction: column;
  align-items: flex-end;
}

/*Buscador search*/
.search__content{
  display: flex;
  gap: 4px;
}

.search__content input{
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.search__content button{
  height: 28px;
  background: #000;
  color: #fff;
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
}

.search__content button:hover{
  background-color: #fff;
  color: #000;
}

.card__prices
.price__anterior
{
  text-decoration:line-through;
}

.card__prices
.price__descuento
{
  color: red;
}

/*Detalles de carrito*/

.cart__list-content{
  display: flex;
  justify-content: space-between;
}

.cart__list__container-productos{
  display: flex;
  flex-direction: column;
}

.cart__list__wrapper_detalles{
  display: flex;
}

.cart__list__wrapper_imagen{
  display: flex;
}

.cart__list__wrapper_producto{
  display: flex;
}

.cart__list__caracteristicas{
  display: flex;
  flex-direction: column;
}

.cart__list__wrapper_imagen .cart__list_img{
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card__tallas span:active{
  border: 1px solid red;
}

.content_menu_mobile{
  display: none;
  @media screen and (max-width: 768px) {
    display: block ;
  }
}

/*Mobile*/

@media screen and (max-width: 768px) {
  .navbar{
    display: none; 
  }   
}